@import 'normalize.css';
@import 'mixins.scss';
@import 'carousel.scss';


@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


.hidden{
  display: none;
}

body{
    background:#eee;
    font-family: 'Source Sans Pro';
    color:$black;
    background:$blue;
    //font-size: 1em;
}

#main-header{
    width:100%;
    background:#fff;
    position:relative;
    z-index:2;
    @include box-shadow;
}

#logo{
    float: left;
    height:36px;
    padding:12px 10px;
    text-align: left;
    width:43.75%;
}

#logo img{
  height:36px;
}

#mobile-nav{
    float:left;
    width:56.25%;
    height:100%;
    ul{
        
        height:100%;
    }
    li{
        width: 33.3333333%;
        float: left;
        height:100%;
        text-align: center;
        border-left:1px solid $gray;
    }
    a{
        height: 60px;
        font-size: 0.75em;
        line-height: 1.5;
        text-decoration: none;
        display:block;
        padding-top:15px;
        color:$black;
        span{
          line-height: 1;
          display: block;
          font-size: 1.66666666667em;
        }
    }
}

#sub-trigger{
  color:$purple !important;
}

#jPanelMenu-menu h2{
    font-size:1.25em;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    span{
      height: 60px;
      float: left;
    }
    border-bottom: 1px solid $gray;
    @include gi;
    color:$purple;
    padding:0 0.5em;
    a{
      float:right;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      color:$black;
      font-size:1.25em;
    }
}

#sub-grid{
  list-style: none;
  position: relative;
  overflow-y:scroll;
  li{
    //border:1px solid $gray;
    border-bottom:1px solid $gray;
    text-align: center;
    a{
      padding:0.625em 0;
      text-decoration: none;
      color:#000;
      font-size: 0.875em;
      display: block;
      img{
        margin:0 auto 0.3em auto;
        display:block;
      }
    }
    &:nth-child(odd){
      border-right:1px solid $gray;
      border-left:none;
    }
    border-top: none;
    width:50%;
    float:left;
  }
}

#mobile-submenu{
  display:none;
}

#jPanelMenu-menu{
  background: white;
  border-left: 10px solid $blue;
}

#main-content{
  margin-top: 10px;
    .section{
      h3{
        @include gi;
      }
      &.half{
        float: left;
        width: 50%;
        &:nth-child(even) + *{
          clear: both;
        }
      }
      &.collapsible.closed{
        .cont{
          display: none;
        }
      }
      &.ajax,&.collapsible{
        a{
          display: block;
          overflow: hidden;
          text-decoration: none;
          color: $purple;
          span{
            float: right;
            font-family: 'Source Sans Pro';
            font-style: normal;
            color:$black;
          }
        }
      }
        @include box-shadow;
        background: #fff;
        margin-bottom: 10px;
        h2{
            @include gi;
            color:$purple;
            font-size:1.25em;
            width:100%;
            border-bottom: 1px solid $gray;
            padding:0.5em 3%;
        }
        .cont{
           padding:0.8em 3%;
           font-size: 0.875em;
        }
    }
}

.no-touch #search-trigger{
  &:hover,&:focus{
    //@extend .arrow_box;
  }
}

#usp{
  h3{
    text-align: center;
    font-weight: 200;
    padding:1em 0;
    font-size: 1.5em;
  }
}

#explore{
  overflow: hidden;
  padding:6.25% 0;
  .m{
    overflow: hidden;
  }
  .t{
    overflow: hidden;
    display: none;
    padding:3.125% 0;
    .offer{
      width: 50%;
    }
  }
}

a.offer{
  img{
    max-width: 100%;
    display: inline;
  }
  a{
    text-decoration: none;
  }
  h3{
    @include gi;
    color: #fff;
    padding-top: 10px;
  }
  text-align: center;
  text-decoration: none;
  width: 33.33333%;
  float: left;
}

.slider{
  .carousel{
    overflow: hidden;
  }
  .slag{
    text-align: center;
    background: #fff;
    overflow: hidden;
    a{
      float: left;
      width: 33.333333%;
      h3{
        color:$black;
      }
    }
  }
}

#search-form{
  background:#fff;
  //@include t;
  display: none;
  z-index:1;
  width:100%;
  border-top:1px solid $gray;
  position: relative;
  overflow: hidden;
  input[type="search"]{
    border:none;
    padding: 0.8em 1em;
    width: 70%;
    outline:none;
    font-weight:200;
    margin-top: 3px;
  }
  input[type="submit"]{
    width:16%;
    @include purple-button;
    float: right;
  }
  &.open{
    //top:0;
    //margin-bottom: 0;
  }
}

.news{
  overflow:hidden; 
  _overflow:visible; 
  zoom:1;
  margin-bottom: 20px;
  .bd{
    overflow:hidden; 
    _overflow:visible; 
    zoom:1;
  }
  .img{
    float:left;
    margin-right: 2%; 
  }
  .imgExt{
    float:right;
    margin-left: 10px;
  }
  a{
    color:$blue;
  }
  p,a{
    font-size: 0.875em;
  }
  h3{
    @include gi;
    font-size: 1.25em;
  }
}

#newsletter{
  overflow: hidden;
  h2{
    border-bottom: none !important;
    text-align: center;
    padding-bottom: 0 !important;
  }
  h3{
    font-size: 1em;
    font-weight: normal;
    text-align: center;
  }
  form{
    width: 40%;
    margin:20px auto;
    overflow: hidden;
    input[type="text"],input[type="email"]{
      @include input;
    }
    input[type="submit"]{
      @include purple-button;
      float: right;
    }
  }
}


.cta{
  background: $darkblue;
  padding:4%;
  margin-bottom:10px;
  text-align: center;
  h3{
    color: #fff;
    font-weight: normal;
  }
  h2{
    padding: 0;
    padding-top: 1em;
  }
  h2 a{
    font-size: 1.5em;
    @include gi;
    color:#fff;
  }
}


.getquote{
  overflow: hidden;
  text-align: center;
  a{
    @include red-button;
    display: block;
    width:40%;
    margin: 20px auto;
  }
  p{
    width: 60%;
    margin: 0 auto 20px auto;
  }
}

#main-footer{
  width: 100%;
  background: $black;
  color: #fff;
  a{
    text-decoration: none;
    color: #fff;
  }

  .totop{
    text-align: center;
    width: 100%;
    display: block;
    border-bottom: 1px solid #515151;
    span{
      display: block;
    }
  }
  p{
    text-align: center;
    padding:2%;
  }
}

#contact a{
  padding: 0 10%;
  overflow: hidden;
  display: block;
  font-size: 1em;
  border-bottom: 1px solid #515151;
  .icon{
    font-size: 2em;
    float: left;
  }
  .data{
    float: left;
    margin-top:10px;
    padding-left: 20%;
  }
}

::-webkit-input-placeholder {
   font-family:'Source Sans Pro';
   font-weight:200;
   font-size:1em;
}

:-moz-placeholder {  
  font-family:'Source Sans Pro';
   font-weight:200;
   font-size:1em;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}


@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); } 
  50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }  
  50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }  
  50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); } 
  50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
  -webkit-font-smoothing: antialiased; 
}




#top-contact{
  display:none;
  width:100%;
  background:#fff;
  overflow:hidden;
  @include box-shadow;
  margin-bottom:10px;
  a{
    display:block;
    float:left;
    text-decoration:none;
    color:$black;
    width:20%;
    text-align:center;
    padding:0.5em 0;
  }
}

// large tablet (1000px, 62.5em)

@media all and (min-width: 62.5em){

  #usp,#explore{
    width:50%;
    float:left;
  }

  #explore + section{
    clear:both;
  }

  #main-content{
    .section.half{
      width:47.5%;
      margin-right:5%;
      &:nth-child(even){
        margin-right:0;
      }
    }
  }

  #news{
    width:60%;
    float:left;
    margin-right:5%;
  }

  #newsletter{
    width:35%;
    float:left;
  }

  #newsletter + section{
    clear:both;
  } 

  #contact{
    overflow:hidden;
    a{
      float:left;
      width:20%;
      padding:0;
      text-align:center;
      .icon,.data{
        display:inline;
        float:none;
        padding:0;
      }
    }
  }

  #top-contact{
    display:block;
  }
  #mobile-nav{
    display:none;
  }
  #mobile-submenu{
    display:block;
    h2{
      display:none;
    }
    #sub-grid{
      overflow:hidden;
      border-top:1px solid $gray;
      li{
        float:left;
        width:14.2857142857%;
        border-bottom:none;
      }
    }
  }
  #search-form{
    display:block;
    width:30%;
    float:right;
    border:none;
    padding:1em 0;
    input[type="search"]{
      border:1px solid $gray;
      float:left;
      margin-top:0;
    }
    input[type="submit"]{
      float:left;
    }
  }
}

//small tablet (600px,37.5em)

@media all and (min-width: 37.5em){
  #explore .t{
    display: block;
  }
}


  