@import url(normalize.css);
@import url(carousel.css);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.svg#icomoon") format("svg"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

body {
  background: #eee;
  font-family: 'Source Sans Pro';
  color: #333333;
  background: #4897c8; }

#main-header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #cccccc;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */ }

#logo {
  float: left;
  width: 43.75%;
  text-align: center; }

#logo img {
  max-width: 80%;
  padding-top: 3%; }

#mobile-nav {
  float: left;
  width: 56.25%;
  height: 100%; }
  #mobile-nav ul {
    height: 100%; }
  #mobile-nav li {
    width: 33.3333333%;
    float: left;
    height: 100%;
    text-align: center;
    border-left: 1px solid #cccccc; }
  #mobile-nav a {
    height: 50px;
    font-size: 0.75em;
    line-height: 1;
    text-decoration: none;
    display: block;
    padding-top: 8px;
    color: #000; }
    #mobile-nav a span {
      line-height: 1;
      display: block;
      font-size: 2em; }

#jPanelMenu-menu h2 {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  font-family: 'Gentium Basic';
  font-style: italic;
  color: #69297d;
  padding: 0 0.5em; }
  #jPanelMenu-menu h2 span {
    height: 50px;
    float: left; }
  #jPanelMenu-menu h2 a {
    float: right;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: #000; }

.sub-nav li {
  float: none !important;
  border: none !important;
  border-bottom: 1px solid #cccccc !important;
  width: 100% !important;
  right: 0;
  transition: all 0.3s;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 2em; }

.sub-nav.hidden {
  right: 100%;
  display: none; }

#sub-grid {
  list-style: none;
  position: relative;
  overflow-y: scroll; }
  #sub-grid li {
    border: 1px solid #cccccc;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-top: none;
    width: 50%;
    float: left; }
    #sub-grid li a {
      font-family: 'Gentium Basic';
      font-style: italic;
      text-decoration: none;
      color: #000;
      font-size: 1em;
      display: block; }
    #sub-grid li:nth-child(odd) {
      border-right: none;
      border-left: none; }

#mobile-submenu {
  display: none; }

#jPanelMenu-menu {
  background: white;
  right: -3% !important; }

#main-content {
  margin-top: 10px; }
  #main-content .section {
    -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
    /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
    background: #fff;
    margin-bottom: 10px; }
    #main-content .section h2 {
      font-family: 'Gentium Basic';
      font-weight: normal;
      font-style: italic;
      color: #69297d;
      font-size: 1.25em;
      width: 100%;
      border-bottom: 1px solid #cccccc;
      padding: 0.5em 3%; }
    #main-content .section .cont {
      padding: 0.8em 3%;
      font-size: 0.875em; }

.arrow_box {
  position: relative;
  background: #ffffff;
  border: 1px solid #ccc; }

.arrow_box:after, .arrow_box:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.arrow_box:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #ccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

#usp h3 {
  text-align: center;
  font-weight: 200;
  padding: 1em 0;
  font-size: 1.5em; }

#explore {
  overflow: hidden;
  padding: 6.25% 0; }

a.offer {
  text-align: center;
  text-decoration: none;
  width: 33.33333%;
  float: left; }
  a.offer img {
    max-width: 100%;
    display: inline; }
  a.offer a {
    text-decoration: none; }
  a.offer h3 {
    font-family: 'Gentium Basic';
    color: #fff;
    font-style: italic;
    padding-top: 10px;
    font-weight: normal; }

.slider .carousel {
  overflow: hidden; }
.slider .slag {
  text-align: center;
  background: #fff;
  overflow: hidden; }
  .slider .slag a {
    float: left;
    width: 33.333333%; }
    .slider .slag a h3 {
      color: #333; }

#search-form {
  background: #fff;
  display: none;
  z-index: 1;
  width: 100%;
  border-top: 1px solid #cccccc;
  position: relative;
  overflow: hidden; }
  #search-form input[type="search"] {
    border: none;
    padding: 0.8em 1em;
    width: 70%;
    outline: none;
    font-weight: 200;
    margin-top: 3px; }
  #search-form input[type="submit"] {
    width: 16%;
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Source Sans Pro';
    font-style: italic;
    background: #69297d;
    text-align: center;
    padding: 0.8em 1em;
    color: #fff;
    float: right; }

::-webkit-input-placeholder {
  font-family: 'Source Sans Pro';
  font-weight: 200; }

:-moz-placeholder {
  font-family: 'Source Sans Pro';
  font-weight: 200; }

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(1.1); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1); }

  50% {
    -moz-transform: scale(1.1); }

  100% {
    -moz-transform: scale(1); } }

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1); }

  50% {
    -o-transform: scale(1.1); }

  100% {
    -o-transform: scale(1); } }

@keyframes pulse {
  0% {
    transform: scale(1); }

  50% {
    transform: scale(1.1); }

  100% {
    transform: scale(1); } }

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
  -webkit-font-smoothing: antialiased; }
