@import 'normalize.css';
@import 'mixins.scss';
@import 'carousel.css';

body{
    background:#eee;
    font-family: 'Source Sans Pro';
    color:$black;
    background:$blue;
}

#main-header{
    width:100%;
    //overflow:hidden;
    background:#fff;
    //height:50px;
    border-bottom:1px solid $gray;
    position:relative;
    z-index:2;
    @include box-shadow;
}

#z-wrap{
  overflow:hidden;
  position:relative;
  z-index:2;
}

#logo{
    float: left;
    width:52%;
}

#mobile-nav{
    float:left;
    width:48%;
    height:100%;
    ul{
        
        height:100%;
    }
    li{
        width: 33.3333333%;
        float: left;
        height:100%;
        text-align: center;
        border-left:1px solid $gray;
    }
    a{
        font-size: 0.6em;
        line-height: 50px;
        text-decoration: none;
        display:block;
        height:100%;
    }
}

.arrow_box {
  position: relative;
  background: #ffffff;
  //border: 1px solid #cccccc;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  @include t;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #cccccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}

#jPanelMenu-menu h2{
    height: 50px;
    border-bottom: 1px solid;
}

.sub-nav li{
  float: none !important;
  border: none !important;
  border-bottom: 1px solid !important;
  width:100% !important;
  right:0;
  transition: all 0.3s;
  height:50px;
}

.sub-nav.hidden{
  right:100%;
  display: none;
}

#sub-grid{
  list-style: none;
  position: relative;
  overflow-y:scroll;
  li{
    border:1px solid;
    border-top: none;
    width:50%;
    float:left;
    height:50px;
  }
}

#mobile-submenu{
  display:none;
}

#jPanelMenu-menu{
  background: white;
  border-left: 1px solid;
}

#main-content{
  margin-top: 10px;
    .section{
        @include box-shadow;
        background: #fff;
        min-height: 400px;
        margin-bottom: 10px;
        h2{
            font-family: 'Gentium Basic';
            font-weight:normal;
            font-style: italic;
            color:$purple;
            font-size:1.25em;
            width:100%;
            border-bottom: 1px solid $gray;
            padding:0.5em 0.25em;
        }
    }
}

.no-touch #search-trigger{
  &:hover,&:focus{
    //@extend .arrow_box;
  }
}

#search-form{
  background:#fff;
  //@include t;
  display: none;
  z-index:1;
  width:100%;
  border-top:1px solid $gray;
  position: relative;
  overflow: hidden;
  input[type="search"]{
    border:none;
    padding: 0.8em 1em;
    width: 82%;
    outline:none;
  }
  input[type="submit"]{
    width:10%;
    @include purple-button;
    float: right;
  }
  &.open{
    //top:0;
    //margin-bottom: 0;
  }
}

::-webkit-input-placeholder {
   font-family:'Source Sans Pro';
   font-weight:200;
}

:-moz-placeholder {  
  font-family:'Source Sans Pro';
   font-weight:200;
}