@import 'mixins.scss';

.sum{
  h2{
    border-bottom:none !important;
    text-align: center;
  }
  img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  p{
    @include gi;
    font-size: 1.25em;
    padding:1em;
  }
  div{
    overflow: hidden;
    padding:1em;
  }
  .important{
    float: left;
    @include red-button;
    width:45%;
    margin-right: 10%;
  }
  .quote{
    @include purple-button;
    float:left;
    width:45%;
  }
}

.gallery{
  overflow: hidden;
  a{
    width: 30%;
    margin:1.66666666667%;
    float: left;
    text-decoration: none;
    text-align: center;
    color:$black;
    font-family: 'Gentium Basic';
  }
  img{
    display: block;
    max-width: 100%;
    margin: 0 auto 5px auto;
    @include box-shadow(0px 1px 5px rgba(50, 50, 50, 0.75));
  }
}


.share{
  overflow: hidden;
  h2{
    float: left;
    width:auto !important;
    border-bottom: none !important;
  }
  div{
    float: right;
  }
  a{
    text-decoration: none;
    color:$black;
    font-size: 2em;
  }
}

.block{
  margin-bottom: 20px;
  .extra{
    font-size: 1.2em;
    font-weight: 200;
  }
}

.day{
  overflow: hidden;
  padding:1em 0;
  div{
    width: 70%;
    float: left;
  }
  a{
    float: left;
    width: 28%;
    text-align: center;
    img{
      max-width: 100%;
      @include box-shadow(0px 1px 5px rgba(50, 50, 50, 0.75));
    }
  }
}

//small tablet (600px,37.5em)

@media all and (min-width: 37.5em){
  #explore .t{
    display: block;
  }
}


