.white-arrow {
  position: relative;
  background: #fff;
  border: 1px solid #ccc; }

.white-arrow:after, .white-arrow:before {
  top: 99%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.white-arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.white-arrow:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #ccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

.no-touch .white-arrow:hover:after {
  border-top-color: #e6e6e6; }

.purple-arrow {
  position: relative;
  background: 69297D; }

.purple-arrow:after, .purple-arrow:before {
  top: 99%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.purple-arrow:after {
  border-color: rgba(146, 151, 13, 0);
  border-top-color: 69297D;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.purple-arrow:before {
  border-color: rgba(105, 41, 125, 0);
  border-top-color: #69297D;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

.no-touch .purple-arrow:hover:after {
  border-top-color: #875497; }

.selecter h2 {
  padding: 0 !important;
  border: none !important; }
  .selecter h2 span {
    float: left;
    padding: 0.8em 1em; }

.selecter ul {
  display: none;
  background: #fff;
  overflow: hidden; }
  .selecter ul li {
    list-style: none;
    border-bottom: 1px solid #cccccc; }
    .selecter ul li:first-child {
      border-top: 1px solid #cccccc; }
    .selecter ul li.close a {
      text-align: right;
      font-weight: bold;
      font-style: normal;
      font-family: 'Source Sans'; }
    .selecter ul li a {
      padding: 0.8em 2em;
      display: block;
      text-decoration: none;
      color: #333333;
      font-family: 'Gentium Basic';
      font-weight: normal;
      font-style: italic; }

.getquote a {
  width: 60% !important; }

.offer-list {
  padding: 1em 0;
  clear: both;
  overflow: hidden; }
  .offer-list a.offer {
    width: 50%;
    text-align: center;
    height: 305px; }
    .offer-list a.offer h3 {
      color: #333333;
      font-style: normal;
      padding-top: 0; }
    .offer-list a.offer .stars {
      color: #fbb03b;
      display: block;
      text-align: center;
      padding: 0.5em 0; }

.region {
  margin-bottom: 40px;
  overflow: hidden; }
  .region h3 {
    font-family: 'Gentium Basic';
    font-weight: normal;
    font-style: italic;
    font-size: 1.25em;
    padding: 0.8em 1em; }
    .region h3 a {
      font-weight: bold; }

.select-trigger {
  float: right;
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Source Sans Pro';
  font-style: italic;
  background: #69297d;
  text-align: center;
  padding: 0.8em 1em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */
  font-size: 1em;
  text-decoration: none;
  line-height: 1.2; }

.offer {
  overflow: hidden; }

.lead {
  color: #333333;
  display: none; }

.fake-a {
  display: none;
  float: right;
  color: #4897c8 !important;
  margin-right: 5%; }

h2.info a, h3.info a {
  text-decoration: none !important; }

h3.info a {
  color: #333333;
  text-decoration: none; }

h2.info .icon, h3.info .icon {
  font-style: normal;
  margin: 0;
  float: none;
  padding: 0;
  color: #4897c8;
  position: relative;
  top: 2px; }

@media all and (min-width: 59.375em), (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .offer-list a.offer .data {
    margin-top: 20px; }

  .selecter ul li {
    width: 25%;
    float: left;
    border-right: 1px solid #cccccc; }
    .selecter ul li:nth-child(1), .selecter ul li:nth-child(2), .selecter ul li:nth-child(3), .selecter ul li:nth-child(4) {
      border-top: 1px solid #cccccc; }
    .selecter ul li:nth-child(4n) {
      border-right: none; }
    .selecter ul li.close {
      display: none; }

  .offer-list a.offer {
    display: block;
    padding: 0.8em 1em;
    width: 100% !important;
    height: auto;
    float: none;
    overflow: hidden; }
    .offer-list a.offer .data {
      position: relative;
      z-index: 2; }
    .offer-list a.offer .img {
      float: left;
      width: 30%; }
      .offer-list a.offer .img img {
        max-width: 100%;
        position: relative;
        z-index: 1; }
    .offer-list a.offer .stars {
      display: inline;
      text-align: left;
      padding: 0 0.2em; }
    .offer-list a.offer h3 {
      padding-left: 0; }
    .offer-list a.offer .lead {
      clear: both; }

  .offer .data {
    float: left;
    width: 70%;
    text-align: left; }

  .lead {
    display: block;
    font-size: 0.8em; }

  .fake-a {
    display: block; } }
@media all and (min-width: 43.75em) {
  .offer-list a.offer {
    width: 33.333333%; } }
@media all and (min-width: 79em) {
  .offer-list a.offer {
    width: 50% !important;
    height: 200px;
    float: left; } }
.no-touch .offer-list a.offer img {
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */ }
.no-touch .offer-list a.offer:hover .fake-a, .no-touch .offer-list a.offer:focus .fake-a {
  text-decoration: underline; }
.no-touch .offer-list a.offer:hover img, .no-touch .offer-list a.offer:focus img {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }
.no-touch .selecter ul li a {
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */ }
  .no-touch .selecter ul li a:hover, .no-touch .selecter ul li a:focus {
    background: #e6e6e6; }
.no-touch .selecter ul .close a:hover, .no-touch .selecter ul .close a:focus {
  background: #fff !important;
  color: #bc193c !important; }
.no-touch .select-trigger:hover, .no-touch .select-trigger:focus {
  background: #875497; }
