.white-arrow {
  position: relative;
  background: #fff; }

.white-arrow:after, .white-arrow:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.white-arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.white-arrow:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #ccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

.purple-arrow {
  position: relative;
  background: 69297D; }

.purple-arrow:after, .purple-arrow:before {
  top: 99%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.purple-arrow:after {
  border-color: rgba(146, 151, 13, 0);
  border-top-color: 69297D;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.purple-arrow:before {
  border-color: rgba(105, 41, 125, 0);
  border-top-color: #69297D;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

.selecter h2 {
  padding: 0 !important;
  border: none !important; }
  .selecter h2 span {
    float: left;
    padding: 0.8em 1em; }

.selecter ul {
  display: none;
  background: #fff; }
  .selecter ul li {
    list-style: none;
    padding: 0.8em 2em;
    border-bottom: 1px solid #cccccc; }
    .selecter ul li:first-child {
      border-top: 1px solid #cccccc; }
    .selecter ul li.close a {
      text-align: right;
      font-weight: bold;
      font-style: normal;
      font-family: 'Source Sans'; }
    .selecter ul li a {
      display: block;
      text-decoration: none;
      color: #333333;
      font-family: 'Gentium Basic';
      font-weight: normal;
      font-style: italic; }

.offer-list {
  overflow: hidden; }
  .offer-list a.offer {
    width: 50%;
    text-align: center; }
    .offer-list a.offer h3 {
      color: #333333;
      font-style: normal;
      padding-top: 0; }
    .offer-list a.offer .stars {
      color: #fbb03b;
      display: block;
      text-align: center;
      padding: 0.5em 0; }

.region {
  margin-bottom: 40px;
  overflow: hidden; }
  .region h3 {
    font-family: 'Gentium Basic';
    font-weight: normal;
    font-style: italic;
    font-size: 1.25em;
    padding: 0.8em 1em; }

.select-trigger {
  float: right;
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Source Sans Pro';
  font-style: italic;
  background: #69297d;
  text-align: center;
  padding: 0.8em 1em;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  text-decoration: none; }

.offer {
  overflow: hidden; }

.lead {
  color: #333333;
  display: none; }

.fake-a {
  display: none;
  float: right;
  color: #4897c8 !important; }

@media all and (min-width: 62.5em) {
  .selecter ul li {
    width: 25%;
    float: left;
    border-right: 1px solid #cccccc; }
    .selecter ul li:nth-child(1), .selecter ul li:nth-child(2), .selecter ul li:nth-child(3), .selecter ul li:nth-child(4) {
      border-top: 1px solid #cccccc; }
    .selecter ul li:nth-child(4n) {
      border-right: none; }
    .selecter ul li.close {
      display: none; }

  .offer-list a.offer {
    display: block;
    padding: 0.8em 1em;
    width: 100%;
    float: none;
    overflow: hidden; }
    .offer-list a.offer .img {
      float: left;
      width: 30%; }
      .offer-list a.offer .img img {
        max-width: 100%; }
    .offer-list a.offer .stars {
      text-align: left; }
    .offer-list a.offer h3 {
      padding-left: 0; }

  .offer .data {
    float: left;
    width: 70%;
    text-align: left; }

  .lead {
    display: block; }

  .fake-a {
    display: block; } }
