@import 'mixins.scss';


.selecter h2{
  padding:0 !important;
  border:none !important;
  span{
    float:left;
      padding:0.8em 1em;
  }
}

.selecter ul{
  display: none;
  background:#fff;
  overflow:hidden;
  li{
    list-style:none;
    border-bottom: 1px solid $gray;
    &:first-child{
      border-top:1px solid $gray;
    }
    &.close a{
      text-align: right;
      font-weight: bold;
      font-style: normal;
      font-family: 'Source Sans';
    }
    a{
      padding:0.8em 2em;
      display: block;
      text-decoration: none;
      color:$black;
      @include gi;
    }
  }
}

.offer-list{
  padding: 1em 0;
  clear:both;
  overflow: hidden;
  a.offer{
    width: 50%;
    text-align: center;
    height:305px;
    h3{
      color:$black;
      font-style: normal;
      padding-top: 0;
    }
    .stars{
      color:$yellow;
      display: block;
      text-align: center;
      padding: 0.5em 0;
    }
  }
}

.region{
  margin-bottom: 40px;
  overflow: hidden;
  h3{
    @include gi;
    font-size: 1.25em;
    padding:0.8em 1em;
  }
}

.select-trigger{
  float:right;
  @include purple-button;
  font-size: 1em;
  text-decoration: none;
}


.offer{
  overflow:hidden;
}

.lead{
  color:$black;
  display:none;
}

.fake-a{
    display: none;
    float:right;
    color:$blue !important;
    margin-right: 5%;
  }


h2.info a,h3.info a{
  text-decoration:none !important;
}
h2.info .icon,h3.info .icon{
  font-style:normal;
  margin:0;
  float:none;
  padding:0;
  color:$blue;
  position:relative;
  top:2px;
}

// large tablet (1000px, 62.5em)
@media all and (min-width: 59.375em), (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  
  .offer-list a.offer .data {
    margin-top: 20px;
  }

  .selecter ul{
    li{
      width:25%;
      float:left;
      border-right:1px solid $gray;
      &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
        border-top:1px solid $gray;
      }
      &:nth-child(4n){
        border-right:none;
      }
      &.close{
        display:none;
      }
    }
  }




  .offer-list{
    a.offer{
      display: block;
      padding: 0.8em 1em;
      width:100% !important;
      height:auto;
      float:none;
      overflow: hidden;
      .img{
        float:left;
        width:30%;
        img{
          max-width:100%;
        }
      }
      .stars{
        display:inline;
        text-align:left;
        padding:0 0.2em;
      }
      h3{
        
        padding-left:0;
      }
      .lead{
        clear:both;
      }
    }
  }
  .offer .data{
    float:left;
    width:70%;
    text-align:left;
  }
  .lead{
    display:block;
    font-size: 0.8em;
  }
  .fake-a{
    display: block;
  }

}

//small tablet (700px,43.75em)

@media all and (min-width: 43.75em){
  .offer-list a.offer{
    width: 33.333333%;
  }
}

@media all and (min-width: 79em){
  .offer-list a.offer{
    width:50% !important;
     height: 315px;
    float:left;
  }
}



//hoverek

.no-touch{

    .offer-list a.offer{
      img{
        @include t;
      }
     &:hover,&:focus{
      .fake-a{
        text-decoration: underline;
      }
      img{
        @include grow;
      }
     }
    }

    .selecter ul li a{
      @include t;
     &:hover,&:focus{
      background:#e6e6e6;
     }
    }

    .selecter ul .close a{
      &:hover,&:focus{
      background:#fff !important;
      color:$red !important;
     }
    }

  .select-trigger{
    &:hover,&:focus{
      @include purple-button-hover;
    }
  } 
}