@import url(normalize.css);
.white-arrow {
  position: relative;
  background: #fff;
  border: 1px solid #ccc; }

.white-arrow:after, .white-arrow:before {
  top: 99%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.white-arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.white-arrow:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #ccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

.no-touch .white-arrow:hover:after {
  border-top-color: #e6e6e6; }

.purple-arrow {
  position: relative;
  background: 69297D; }

.purple-arrow:after, .purple-arrow:before {
  top: 99%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.purple-arrow:after {
  border-color: rgba(146, 151, 13, 0);
  border-top-color: 69297D;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.purple-arrow:before {
  border-color: rgba(105, 41, 125, 0);
  border-top-color: #69297D;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

.no-touch .purple-arrow:hover:after {
  border-top-color: #875497; }

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px;
  text-align: center; }

.flex-caption {
  text-align: center;
  color: #333333;
  font-family: 'Gentium Basic'; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(../img/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease; }

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -18px; }

.flex-direction-nav .flex-prev {
  left: -18px; }

.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 0px; }

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 0px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -30px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #4897c8;
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.svg#icomoon") format("svg"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

::-webkit-validation-bubble {
  z-index: 10000;
  position: relative; }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="button"], button, input[type="submit"], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

.lt-ie9 .breadcrumb ul li {
  display: block !important; }
.lt-ie9 .flex-direction-nav {
  display: none !important; }
.lt-ie9 #sub-grid li {
  border-bottom: 1px solid #cccccc !important; }
.lt-ie9 #sidebar {
  position: static !important; }

#sidebar {
  display: none; }

.hidden {
  display: none; }

.search-text {
  font-weight: 200;
  padding: 0.8em 3%;
  font-size: 0.875em; }

.no-flick {
  -webkit-transform: translate3d(0, 0, 0); }

body {
  background: #eee;
  font-family: 'Source Sans Pro';
  color: #333333;
  background: #4897c8; }

#main-header {
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */ }

#logo {
  float: left;
  height: 36px;
  padding: 12px 10px;
  text-align: left;
  width: 43.75%; }

#logo img {
  height: 36px; }

#mobile-nav {
  float: left;
  width: 56.25%;
  height: 100%; }
  #mobile-nav ul {
    height: 100%; }
  #mobile-nav li {
    width: 33.3333333%;
    float: left;
    height: 100%;
    text-align: center;
    border-left: 1px solid #cccccc; }
  #mobile-nav a {
    height: 60px;
    font-size: 0.75em;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    padding-top: 15px;
    color: #333333; }
    #mobile-nav a span {
      line-height: 1;
      display: block;
      font-size: 1.66666666667em; }

#sub-trigger {
  color: #69297d !important; }

#jPanelMenu-menu h2 {
  font-size: 1.25em;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  font-family: 'Gentium Basic';
  font-weight: normal;
  font-style: italic;
  color: #69297d;
  padding: 0 0.5em; }
  #jPanelMenu-menu h2 span {
    height: 60px;
    float: left; }
  #jPanelMenu-menu h2 a {
    float: right;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
    font-size: 1em;
    width: 10%;
    text-align: center; }

.sub {
  display: none; }

#sub-grid {
  list-style: none;
  position: relative; }
  #sub-grid li {
    border-bottom: 1px solid #cccccc;
    text-align: center;
    border-top: none;
    width: 50%;
    float: left; }
    #sub-grid li a {
      padding: 0.625em 0;
      text-decoration: none;
      color: #000;
      font-size: 0.875em;
      display: block; }
      #sub-grid li a img {
        margin: 0 auto 0.3em auto;
        display: block; }
    #sub-grid li:nth-child(odd) {
      border-right: 1px solid #cccccc;
      border-left: none; }

#mobile-submenu {
  display: none; }

#jPanelMenu-menu {
  background: white;
  border-left: 10px solid #4897c8; }

.totop-wrap {
  overflow: hidden;
  display: none; }

.section .totop {
  text-decoration: none;
  color: #4897c8;
  float: right;
  padding: 1em;
  font-size: 0.8em; }

#main-content, #sidebar {
  margin-top: 10px; }
  #main-content .section, #sidebar .section {
    -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
    /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
    background: #fff;
    margin-bottom: 10px; }
    #main-content .section h3, #sidebar .section h3 {
      font-family: 'Gentium Basic';
      font-weight: normal;
      font-style: italic; }
    #main-content .section.half, #sidebar .section.half {
      float: left;
      width: 50%; }
      #main-content .section.half:nth-child(even) + *, #sidebar .section.half:nth-child(even) + * {
        clear: both; }
    #main-content .section.collapsible.closed .cont, #sidebar .section.collapsible.closed .cont {
      display: none; }
    #main-content .section.ajax a, #main-content .section.collapsible a, #sidebar .section.ajax a, #sidebar .section.collapsible a {
      display: block;
      overflow: hidden;
      text-decoration: none;
      color: #69297d; }
      #main-content .section.ajax a span, #main-content .section.collapsible a span, #sidebar .section.ajax a span, #sidebar .section.collapsible a span {
        float: right;
        font-family: 'Source Sans Pro';
        font-style: normal;
        color: #333333; }
    #main-content .section h2, #sidebar .section h2 {
      font-family: 'Gentium Basic';
      font-weight: normal;
      font-style: italic;
      color: #69297d;
      font-size: 1.25em;
      width: 100%;
      border-bottom: 1px solid #cccccc;
      padding: 0.6em 3% 0.5em 3%;
      line-height: 1; }
    #main-content .section .cont, #sidebar .section .cont {
      padding: 0.8em 3%;
      font-size: 0.875em; }
      #main-content .section .cont.formatted ul.list, #sidebar .section .cont.formatted ul.list {
        list-style-position: inside;
        line-height: 1.5;
        margin-top: 0.5em; }
      #main-content .section .cont.formatted a, #main-content .section .cont.formatted a:visited, #sidebar .section .cont.formatted a, #sidebar .section .cont.formatted a:visited {
        color: #4897c8; }
      #main-content .section .cont.formatted p, #sidebar .section .cont.formatted p {
        margin: 1em 0;
        display: block; }

.breadcrumb {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  margin-bottom: 0;
  background: #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
  overflow: hidden; }
  .breadcrumb ul {
    overflow: hidden; }
    .breadcrumb ul li {
      display: none;
      margin-right: 3px;
      float: left;
      list-style: none;
      height: 35px; }
      .breadcrumb ul li:last-child {
        display: block; }
      .breadcrumb ul li:nth-last-child(2) {
        display: block; }
      .breadcrumb ul li:nth-last-child(2) a:before {
        content: '← '; }
      .breadcrumb ul li.home a:before {
        content: ''; }
      .breadcrumb ul li.home, .breadcrumb ul li.home a {
        font-style: normal !important; }
      .breadcrumb ul li:last-child, .breadcrumb ul li:last-child:before, .breadcrumb ul li:last-child:after {
        border: none; }
      .breadcrumb ul li a {
        height: 35px;
        line-height: 35px;
        display: block;
        font-style: italic;
        font-size: 0.875em;
        color: #333333;
        text-decoration: none;
        text-align: center;
        padding: 0 0.4em;
        word-wrap: break-word; }

.bread-arrow, .breadcrumb ul li {
  position: relative;
  background: #fff;
  border-right: 1px solid #ccc; }

.bread-arrow:after, .breadcrumb ul li:after, .bread-arrow:before, .breadcrumb ul li:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.bread-arrow:after, .breadcrumb ul li:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 3px;
  top: 50%;
  margin-top: -3px; }

.bread-arrow:before, .breadcrumb ul li:before {
  border-color: rgba(204, 204, 204, 0);
  border-left-color: #ccc;
  border-width: 4px;
  top: 50%;
  margin-top: -4px; }

#usp li {
  position: relative; }
#usp img {
  max-width: 100%; }
#usp h2 {
  position: absolute;
  color: #fff !important; }
#usp a {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Source Sans Pro';
  font-style: italic;
  background: #69297d;
  text-align: center;
  padding: 0.8em 1em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */ }

#explore {
  display: none;
  overflow: hidden;
  padding: 6.25% 0; }
  #explore .m {
    overflow: hidden; }
  #explore .t {
    overflow: hidden;
    display: none;
    padding: 3.125% 0; }
    #explore .t .offer {
      width: 50%; }

#card, #company {
  position: relative; }

#card .cont img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }
#card .cont a {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Source Sans Pro';
  font-style: italic;
  background: #69297d;
  text-align: center;
  padding: 0.8em 1em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
  position: absolute;
  right: 3%;
  bottom: 5%; }

#company .cont p {
  position: absolute;
  left: 3%;
  top: 3%;
  text-align: center;
  padding: 0 3%; }
#company .cont a {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Source Sans Pro';
  font-style: italic;
  background: #69297d;
  text-align: center;
  padding: 0.8em 1em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
  position: absolute;
  right: 3%;
  bottom: 5%; }
#company .cont img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

a.offer {
  text-align: center;
  text-decoration: none;
  width: 33.33333%;
  float: left; }
  a.offer img {
    max-width: 100%;
    display: inline; }
  a.offer a {
    text-decoration: none; }
  a.offer h3 {
    font-family: 'Gentium Basic';
    font-weight: normal;
    font-style: italic;
    color: #fff;
    padding-top: 10px; }

#newest a.offer {
  width: 145px; }
  #newest a.offer img {
    max-width: auto; }

#search-form {
  clear: both;
  background: #fff;
  display: none;
  z-index: 1;
  width: 100%;
  border-top: 1px solid #cccccc;
  position: relative; }
  #search-form input[type="search"] {
    border: none;
    padding: 0.8em 1em;
    width: 70%;
    outline: none;
    font-weight: 200;
    margin-top: 3px; }
  #search-form input[type="submit"] {
    width: 16%;
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Source Sans Pro';
    font-style: italic;
    background: #69297d;
    text-align: center;
    padding: 0.8em 1em;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    /* Safari 3.2+, Chrome */
    -moz-transition: all 0.3s ease-in-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in-out;
    /* Opera 10.5–12.00 */
    transition: all 0.3s ease-in-out;
    /* Firefox 16+, Opera 12.50+ */
    float: right;
    border-bottom: 1px solid #69297d; }

.news {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
  margin-bottom: 20px; }
  .news .bd {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
    width: 66.66666667%; }
  .news .img {
    float: left;
    margin-right: 2%;
    width: 31.3333333%; }
  .news .imgExt {
    float: right;
    margin-left: 10px; }
  .news a {
    color: #4897c8; }
  .news h3 {
    font-family: 'Gentium Basic';
    font-weight: normal;
    font-style: italic;
    font-size: 1.25em; }

#newsletter {
  overflow: hidden; }
  #newsletter h2 {
    border-bottom: none !important;
    text-align: center;
    padding-bottom: 0 !important; }
  #newsletter h3 {
    font-size: 1em;
    font-weight: 200 !important;
    font-family: 'Source Sans Pro' !important;
    text-align: center;
    font-style: italic; }
  #newsletter form {
    width: 70%;
    margin: 20px auto;
    overflow: hidden; }
    #newsletter form input[type="text"], #newsletter form input[type="email"] {
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      border: 1px solid #cccccc;
      background: #fff;
      padding: 0.5em;
      font-weight: 200;
      display: block;
      margin: 10px 0;
      width: 100%; }
    #newsletter form input[type="submit"] {
      padding: 0;
      margin: 0;
      border: none;
      font-family: 'Source Sans Pro';
      font-style: italic;
      background: #69297d;
      text-align: center;
      padding: 0.8em 1em;
      color: #fff;
      text-decoration: none;
      -webkit-transition: all 0.3s ease-in-out;
      /* Safari 3.2+, Chrome */
      -moz-transition: all 0.3s ease-in-out;
      /* Firefox 4-15 */
      -o-transition: all 0.3s ease-in-out;
      /* Opera 10.5–12.00 */
      transition: all 0.3s ease-in-out;
      /* Firefox 16+, Opera 12.50+ */
      float: right; }

.cta {
  background: #1a7dba;
  padding: 2%;
  margin-bottom: 10px;
  text-align: center; }
  .cta.boat h2 {
    padding-top: 0 !important;
    border: none !important; }
  .cta.boat span {
    color: #fff;
    font-size: 5em;
    line-height: 1; }
  .cta h3 {
    color: #fff;
    font-weight: normal; }
  .cta h2 {
    padding: 0;
    padding-top: 1em; }
  .cta h2 a {
    font-size: 1em;
    font-family: 'Gentium Basic';
    font-weight: normal;
    font-style: italic;
    color: #fff; }

.getquote {
  overflow: hidden;
  text-align: center; }
  .getquote a {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Source Sans Pro';
    font-style: italic;
    background: #bc193c;
    text-align: center;
    padding: 0.8em 1em;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    /* Safari 3.2+, Chrome */
    -moz-transition: all 0.3s ease-in-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in-out;
    /* Opera 10.5–12.00 */
    transition: all 0.3s ease-in-out;
    /* Firefox 16+, Opera 12.50+ */
    display: block;
    width: 80%;
    margin: 20px auto; }
  .getquote p {
    width: 60%;
    margin: 0 auto 20px auto; }

#main-footer {
  background: #3885AB;
  border-top: 1px solid #4897c8;
  font-weight: 200;
  width: 100%;
  color: #fff; }
  #main-footer a {
    text-decoration: none;
    color: #fff;
    font-weight: 200; }
  #main-footer p {
    text-align: center;
    padding: 10px 0;
    font-style: italic; }

#contact a {
  display: block;
  font-size: 1em;
  border-bottom: 1px solid #4897c8;
  text-align: center;
  padding: 0.5em 0;
  line-height: 1; }
  #contact a .icon {
    font-size: 2em;
    display: block; }

::-webkit-input-placeholder {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 1em; }

:-moz-placeholder {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 1em; }

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px); }

  100% {
    opacity: 1;
    -o-transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

.fadeInRight {
  display: block;
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(1.1); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1); }

  50% {
    -moz-transform: scale(1.1); }

  100% {
    -moz-transform: scale(1); } }

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1); }

  50% {
    -o-transform: scale(1.1); }

  100% {
    -o-transform: scale(1); } }

@keyframes pulse {
  0% {
    transform: scale(1); }

  50% {
    transform: scale(1.1); }

  100% {
    transform: scale(1); } }

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
  -webkit-font-smoothing: antialiased; }

#top-contact {
  display: none;
  width: 100%;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.2);
  /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
  margin-bottom: 10px; }
  #top-contact a {
    display: block;
    float: left;
    text-decoration: none;
    color: #333333;
    width: 20%;
    padding: 0.5em 0; }

.stars {
  color: #fbb03b;
  font-style: normal !important; }

.slides a.offer {
  width: auto; }

.table {
  border: 1px solid #cccccc;
  width: 100%;
  text-align: left; }
  .table th {
    font-weight: normal;
    font-family: 'Gentium Basic';
    font-weight: normal;
    font-style: italic; }
  .table td, .table th {
    border-right: 1px solid #cccccc;
    padding: 5px; }
  .table tr {
    border-bottom: 1px solid #cccccc; }

.flexslider2 {
  position: relative; }
  .flexslider2 .flex-control-nav {
    bottom: -10px; }

@media all and (min-width: 37.5em) {
  body {
    font-size: 110%; }

  #card, #company {
    float: left;
    width: 49.5%; }

  #card {
    margin-right: 1%; }

  #company + section {
    clear: both; } }
@media all and (min-width: 59.375em) {
  body {
    font-size: 120%; }

  #sub-grid {
    font-size: 95%; } }
@media all and (min-width: 79em) {
  body {
    font-size: 130%; } }
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  input[type="search"] + input[type="submit"] {
    line-height: 1.4; }

  body {
    padding: 0 2% !important;
    font-size: 100% !important; }

  #sub-grid li a {
    font-size: 0.7em; }

  #newest a.offer {
    margin-right: 20px; }

  #top-contact {
    font-size: 0.65em !important; }

  #logo img {
    padding-top: 10px;
    width: 120px !important; }

  #top-contact {
    padding-top: 1.5em !important;
    width: 40% !important; } }
@media all and (min-width: 59.375em), (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  #sub-grid li a {
    font-size: 0.7em; }

  #top-contact {
    font-size: 0.7em; }

  #logo {
    width: 26%; }

  #top-contact {
    float: left;
    width: 50%;
    background: none;
    -webkit-box-shadow: none;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: none;
    /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
    padding-top: 0.5em; }
    #top-contact a {
      font-size: 0.8em;
      width: 33.33333%; }
      #top-contact a:hover, #top-contact a:focus {
        background: none !important; }

  #card, #company {
    height: 330px;
    width: 31%;
    float: left; }

  #newest {
    height: 330px;
    width: 36%;
    float: left; }

  #card, #company {
    margin-right: 1%; }
    #card a, #company a {
      bottom: 10%; }

  #company + section {
    clear: none; }

  #newest + section {
    clear: both; }

  #main-content .section, #top-contact, .cta {
    margin-bottom: 1%; }

  .breadcrumb {
    margin-top: 1%; }

  #main-content, #sidebar {
    margin-top: 1%; }

  body {
    max-width: 80em;
    margin: 0 auto;
    padding: 0 5%;
    background: url(../img/bg.png) no-repeat center top #4897c8; }

  #logo {
    height: auto;
    padding: 12px 20px; }
    #logo img {
      height: auto; }

  #main-content .section.half {
    width: 49.5%;
    margin-right: 1%; }
    #main-content .section.half:nth-child(even) {
      margin-right: 0; }

  #news {
    width: 63%;
    float: left;
    margin-right: 1%; }

  #newsletter {
    width: 36%;
    float: left; }
    #newsletter h3 {
      padding: 0 1%; }

  #newsletter + section {
    clear: both; }

  #top-contact {
    display: block;
    font-size: 0.9em; }
    #top-contact .icon {
      font-size: 1.2em;
      position: relative;
      top: 2px; }

  #mobile-nav {
    display: none; }

  #mobile-submenu {
    display: block; }
    #mobile-submenu h2 {
      display: none; }
    #mobile-submenu #sub-grid {
      overflow: hidden;
      border-top: 1px solid #cccccc; }
      #mobile-submenu #sub-grid li {
        border: none;
        float: left;
        width: 14.2857142857%;
        border-right: 1px solid #cccccc; }
        #mobile-submenu #sub-grid li:last-child {
          border-right: none; }

  #search-form {
    display: block !important;
    clear: none;
    width: 20%;
    margin-right: 20px;
    float: right;
    border: none;
    padding: 1em 0; }
    #search-form input[type="search"] {
      border: 1px solid #cccccc;
      float: left;
      margin-top: 0;
      padding-left: 2%;
      padding-right: 2%;
      width: 60%; }
    #search-form input[type="submit"] {
      float: left;
      width: 30%;
      border: none !important; }

  #mobile-submenu #sub-grid {
    overflow: visible; }

  .sub {
    -webkit-box-shadow: inset 0px 5px 5px rgba(50, 50, 50, 0.2);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: inset 0px 5px 5px rgba(50, 50, 50, 0.2);
    /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
    display: none;
    overflow: hidden;
    width: 100%; }
    .sub li {
      width: 25%;
      float: left;
      text-align: center;
      border-bottom: 1px solid #cccccc;
      border-right: 1px solid #cccccc; }
      .sub li a {
        padding: 5% 15%;
        font-family: 'Gentium Basic';
        font-style: italic;
        font-size: 0.8em;
        text-decoration: none;
        color: #333333;
        display: block; }

  #newsletter, #news {
    height: 310px; }

  #news .cont {
    padding: 20px !important; } }
/* Smartphones (landscape) ----------- */
@media only screen and (max-device-width: 550px) and (orientation: landscape) {
  #sub-grid li a {
    padding: 1em; }
    #sub-grid li a img {
      display: none; } }
@media all and (min-width: 43.75em) {
  .totop-wrap {
    display: block; }

  #contact {
    overflow: hidden;
    border-bottom: 1px solid #4897c8; }
    #contact a {
      display: block;
      float: left;
      text-decoration: none;
      color: #fff;
      width: 33.333333%;
      text-align: center;
      padding: 0.5em 0;
      font-size: 0.8em; }
      #contact a.totop {
        display: none; }
      #contact a:last-child, #contact a:nth-last-child(2) {
        border-bottom: none; }

  .breadcrumb li {
    display: block !important; }
    .breadcrumb li:nth-last-child(2) a:before {
      content: "" !important; }

  #usp .cont {
    width: 60% !important;
    background: none; } }
#quote-form {
  margin: 20px auto;
  background: #eee;
  padding: 3%;
  width: 100%; }
  #quote-form input[type="text"], #quote-form input[type="tel"], #quote-form input[type="email"], #quote-form textarea {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    border: 1px solid #cccccc;
    background: #fff;
    padding: 0.5em;
    font-weight: 200;
    display: block;
    margin: 10px 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px; }
  #quote-form input[type="checkbox"] {
    margin-bottom: 20px; }
  #quote-form input[type="submit"] {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Source Sans Pro';
    font-style: italic;
    background: #69297d;
    text-align: center;
    padding: 0.8em 1em;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    /* Safari 3.2+, Chrome */
    -moz-transition: all 0.3s ease-in-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in-out;
    /* Opera 10.5–12.00 */
    transition: all 0.3s ease-in-out;
    /* Firefox 16+, Opera 12.50+ */ }

.no-touch .breadcrumb a {
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */ }
  .no-touch .breadcrumb a:hover, .no-touch .breadcrumb a:focus {
    background: #e6e6e6; }
.no-touch #top-contact a {
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */ }
  .no-touch #top-contact a:hover, .no-touch #top-contact a:focus {
    background: #e6e6e6; }
.no-touch .sub li a {
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */
  margin-top: 5px; }
  .no-touch .sub li a:hover, .no-touch .sub li a:focus {
    background: #e6e6e6; }
.no-touch #mobile-nav ul li a, .no-touch #sub-grid li a {
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */ }
  .no-touch #mobile-nav ul li a:hover, .no-touch #mobile-nav ul li a:focus, .no-touch #sub-grid li a:hover, .no-touch #sub-grid li a:focus {
    background: #e6e6e6; }
.no-touch #contact a {
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */ }
  .no-touch #contact a:hover, .no-touch #contact a:focus {
    background: #1A7DBA; }
.no-touch .close {
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */ }
  .no-touch .close:hover, .no-touch .close:focus {
    color: #bc193c !important; }
.no-touch .slider a.offer {
  padding-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */ }
  .no-touch .slider a.offer:hover, .no-touch .slider a.offer:focus {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
.no-touch #main-content .section h2 a span {
  -webkit-transition: all 0.3s ease-in-out;
  /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.5–12.00 */
  transition: all 0.3s ease-in-out;
  /* Firefox 16+, Opera 12.50+ */ }
.no-touch #main-content .section h2 a:hover span {
  -webkit-perspective: 300;
  -moz-perspective: 300;
  -ms-perspective: 300;
  perspective: 300;
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform: rotateY(180deg);
  -moz-transform-style: preserve-3d;
  -ms-transform: rotateY(180deg);
  -ms-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d; }
.no-touch #quote-form input[type="submit"]:hover, .no-touch #quote-form input[type="submit"]:focus, .no-touch #newsletter form input[type="submit"]:hover, .no-touch #newsletter form input[type="submit"]:focus, .no-touch #usp a:hover, .no-touch #usp a:focus, .no-touch #card .cont a:hover, .no-touch #card .cont a:focus, .no-touch #company .cont a:hover, .no-touch #company .cont a:focus, .no-touch #search-form input[type="submit"]:hover, .no-touch #search-form input[type="submit"]:focus {
  background: #875497; }
.no-touch .getquote a:hover, .no-touch .getquote a:focus {
  background: #c94763; }
