@import 'normalize.css';
@import 'mixins.scss';
@import 'carousel.scss';


@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

::-webkit-validation-bubble{
  z-index:10000;
  position: relative;
}

input[type="text"],input[type="password"],input[type="email"],input[type="tel"],input[type="search"],input[type="button"],button,input[type="submit"],textarea{
  -webkit-appearance: none;
  -webkit-border-radius:0; 
  border-radius:0;
}

.hidden{
  display: none;
}

.search-text{
  font-weight: 200;
  padding: 0.8em 3%;
  font-size: 0.875em;
}

.no-flick{-webkit-transform:translate3d(0,0,0);}

body{
    background:#eee;
    font-family: 'Source Sans Pro';
    color:$black;
    background:$blue;
    //font-size: 1em;
}

#main-header{
    width:100%;
    background:#fff;
    position:relative;
    z-index:2;
    @include box-shadow;
}

#logo{
    float: left;
    height:36px;
    padding:12px 10px;
    text-align: left;
    width:43.75%;
}

#logo img{
  height:36px;
}

#mobile-nav{
    float:left;
    width:56.25%;
    height:100%;
    ul{
        
        height:100%;
    }
    li{
        width: 33.3333333%;
        float: left;
        height:100%;
        text-align: center;
        border-left:1px solid $gray;
    }
    a{
        height: 60px;
        font-size: 0.75em;
        line-height: 1.5;
        text-decoration: none;
        display:block;
        padding-top:15px;
        color:$black;
        span{
          line-height: 1;
          display: block;
          font-size: 1.66666666667em;
        }
    }
}

#sub-trigger{
  color:$purple !important;
}

#jPanelMenu-menu h2{
    font-size:1.25em;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    span{
      height: 60px;
      float: left;
    }
    border-bottom: 1px solid $gray;
    @include gi;
    color:$purple;
    padding:0 0.5em;
    a{
      float:right;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      color:$black;
      font-size:1em;
      width: 10%;
      text-align: center;
    }
}

.sub{
      display: none;
    }

#sub-grid{
  list-style: none;
  position: relative;
  overflow-y:scroll;
  li{
    //border:1px solid $gray;
    border-bottom:1px solid $gray;
    text-align: center;
    
    a{
      padding:0.625em 0;
      text-decoration: none;
      color:#000;
      font-size: 0.875em;
      display: block;
      img{
        margin:0 auto 0.3em auto;
        display:block;
      }
    }
    &:nth-child(odd){
      border-right:1px solid $gray;
      border-left:none;
    }
    border-top: none;
    width:50%;
    float:left;
  }
}

#mobile-submenu{
  display:none;
}

#jPanelMenu-menu{
  background: white;
  border-left: 10px solid $blue;
}

#main-content{
  margin-top: 10px;
    .section{
      h3{
        @include gi;
      }
      &.half{
        float: left;
        width: 50%;
        &:nth-child(even) + *{
          clear: both;
        }
      }
      &.collapsible.closed{
        .cont{
          display: none;
        }
      }
      &.ajax,&.collapsible{
        a{
          display: block;
          overflow: hidden;
          text-decoration: none;
          color: $purple;
          span{
            float: right;
            font-family: 'Source Sans Pro';
            font-style: normal;
            color:$black;
          }
        }
      }
        @include box-shadow;
        background: #fff;
        margin-bottom: 10px;
        h2{
            @include gi;
            color:$purple;
            font-size:1.25em;
            width:100%;
            border-bottom: 1px solid $gray;
            padding: 0.6em 3% 0.5em 3%;
            line-height:1;
        }
        .cont{
           padding:0.8em 3%;
           font-size: 0.875em;

           &.formatted{
            ul.list{
              list-style-position:inside;
              line-height:1.5;
              margin-top:0.5em;
            }
            a,a:visited{
                color:$blue;
              }
              p{
            margin:1em 0;
            display:block;
           }
           }

        }
    }
}

.breadcrumb{
  margin-top: 10px;
  width:100%;
  height:35px;
  line-height:35px;
  margin-bottom:10px;
  background:#fff;
  @include box-shadow;
  ul{
    overflow:hidden;
    li{
      display:none;
      margin-right:3px;
      float:left;
      list-style:none;
      height:35px;
      @extend .bread-arrow;
      &:last-child{
        display:block;
      }
      &:nth-last-child(2){
        display:block;
      }
      &:nth-last-child(2) a:before{
        content: '← ';
      }
      &.home a:before{
       content: ''; 
      }
      &:last-child,&:last-child:before,&:last-child:after{
        border:none;
      }
      a{
        height:35px;
        line-height:35px;
        //border-right:1px solid $gray;
        display:block;
        font-style:italic;
        font-size:0.875em;
        color:$black;
        text-decoration:none;
        text-align:center;
        padding:0 0.5em; 
      }
    }
  }
}


.bread-arrow {
  position: relative;
  background: #fff;
  border-right: 1px solid #ccc;
}
.bread-arrow:after, .bread-arrow:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.bread-arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 3px;
  top: 50%;
  margin-top: -3px;
}
.bread-arrow:before {
  border-color: rgba(204, 204, 204, 0);
  border-left-color: #ccc;
  border-width: 4px;
  top: 50%;
  margin-top: -4px;
}

.no-touch #search-trigger{
  &:hover,&:focus{
    //@extend .arrow_box;
  }
}

#usp{
  li{
    position: relative;
  }
  img{
    max-width: 100%;
  }
  h2{
    position: absolute;
    color:#fff !important;
    }
  p{
    
  }
  a{
   @include purple-button;
  }
}

#explore{
  display:none;
  overflow: hidden;
  padding:6.25% 0;
  .m{
    overflow: hidden;
  }
  .t{
    overflow: hidden;
    display: none;
    padding:3.125% 0;
    .offer{
      width: 50%;
    }
  }
}

#card,#company{
   position: relative;
}

#card .cont{
  img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  a{
    @include purple-button;
    @include box-shadow;
    position: absolute;
    right:3%;
    bottom:5%;
  }
}

#company .cont{
  p{
    position: absolute;
    left: 3%;
    top:3%;
    text-align: center;
    padding: 0 3%;
  }
  a{
    @include purple-button;
    @include box-shadow;
    position: absolute;
    right:3%;
    bottom:5%;
  }
  img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}

a.offer{
  img{
    max-width: 100%;
    display: inline;
  }
  a{
    text-decoration: none;
  }
  h3{
    @include gi;
    color: #fff;
    padding-top: 10px;
  }
  text-align: center;
  text-decoration: none;
  width: 33.33333%;
  float: left;
}


#newest a.offer{
  width:145px;
  img{
    max-width:auto;
  }
}

#search-form{
  clear: both;
  background:#fff;
  //@include t;
  display: none;
  z-index:1;
  width:100%;
  border-top:1px solid $gray;
  position: relative;
  input[type="search"]{
    border:none;
    padding: 0.8em 1em;
    width: 70%;
    outline:none;
    font-weight:200;
    margin-top: 3px;
  }
  input[type="submit"]{
    width:16%;
    @include purple-button;
    float: right;
    border-bottom: 1px solid #69297d;
  }
  &.open{
    //top:0;
    //margin-bottom: 0;
  }
}

.news{
  overflow:hidden; 
  _overflow:visible; 
  zoom:1;
  margin-bottom: 20px;
  .bd{
    overflow:hidden; 
    _overflow:visible; 
    zoom:1;
    width:66.66666667%;
  }
  .img{
    float:left;
    margin-right: 2%; 
    width:31.3333333%;
  }
  .imgExt{
    float:right;
    margin-left: 10px;
  }
  a{
    color:$blue;
  }
  h3{
    @include gi;
    font-size: 1.25em;
  }
}

#newsletter{
  overflow: hidden;
  h2{
    border-bottom: none !important;
    text-align: center;
    padding-bottom: 0 !important;
  }
  h3{
    font-size: 1em;
    font-weight: 200 !important;
    font-family:'Source Sans Pro' !important;
    text-align: center;
    font-style:italic ;
  }
  form{
    width: 70%;
    margin:20px auto;
    overflow: hidden;
    input[type="text"],input[type="email"]{
      @include input;
    }
    input[type="submit"]{
      @include purple-button;
      float: right;
    }
  }
}


.cta{
  &.boat{
    span{
      color: #fff;
      font-size: 8em;
      line-height: 1;
    }
  }
  background: $darkblue;
  padding:4%;
  margin-bottom:10px;
  text-align: center;
  h3{
    color: #fff;
    font-weight: normal;
  }
  h2{
    padding: 0;
    padding-top: 1em;
  }
  h2 a{
    font-size: 1.5em;
    @include gi;
    color:#fff;
  }
}


.getquote{
  overflow: hidden;
  text-align: center;
  a{
    @include red-button;
    display: block;
    width:40%;
    margin: 20px auto;
  }
  p{
    width: 60%;
    margin: 0 auto 20px auto;
  }
}

#main-footer{
  font-weight: 200;
  width: 100%;
  background: $black;
  color: #fff;
  a{
    text-decoration: none;
    color: #fff;
    font-weight: 200;
  }

  .totop{
    text-align: center;
    width: 100%;
    display: block;
    border-bottom: 1px solid #515151;
    span{
      display: block;
    }
  }
  p{
    text-align: center;
    padding:2%;
    font-style:italic;
  }
}

#contact a{
  display: block;
  font-size: 1em;
  border-bottom: 1px solid #515151;
  text-align:center;
  padding:0.5em 0;
  line-height:1;
  .icon{
    font-size: 2em;
    display:block;    
  }
  .data{
  }
}

::-webkit-input-placeholder {
   font-family:'Source Sans Pro';
   font-weight:200;
   font-size:1em;
}

:-moz-placeholder {  
  font-family:'Source Sans Pro';
   font-weight:200;
   font-size:1em;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}


@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  display: block;
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); } 
  50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }  
  50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }  
  50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); } 
  50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
  -webkit-font-smoothing: antialiased; 
}




#top-contact{
  display:none;
  width:100%;
  background:#fff;
  overflow:hidden;
  @include box-shadow;
  margin-bottom:10px;
  a{
    display:block;
    float:left;
    text-decoration:none;
    color:$black;
    width:20%;
    text-align:center;
    padding:0.5em 0;
  }
}

.stars{
      color:$yellow;
}

.slides a.offer{
  width: auto;
}



//Font size

@media all and (min-width: 37.5em){
  body{
    font-size: 110%;
  }
   #card,#company{
  float:left;
  width:49.5%;
}

#card{
  margin-right:1%;
}

#company + section{
  clear:both;
} 
}

@media all and (min-width: 62.5em){
  body{
    font-size: 120%;
  } 
  #sub-grid{
    font-size: 95%
  } 
}

@media all and (min-width: 79em){
  body{
    font-size: 130%;
  }  
}


@media all and (min-width: 59.375em){
#card,#company{
  height:330px;
    width:31%;
    float:left;
  }

  #newest{
    height:330px;
    width:36%;
    float:left;
  }

  #card,#company{
    margin-right:1%;
    a{
      bottom:10%;
    }
  }

  #company + section{
    clear:none;
  } 

  #newest + section{
    clear:both;
  }

  //álljunk át %-ra mert kell a dobozok közé is ugyanakkora mint alattuk
  #main-content .section,#top-contact,.cta,.breadcrumb{
    margin-bottom: 1%;
  }

  #main-content,.breadcrumb{
    margin-top: 1%;
  }

  body{
    max-width:80em;
    margin:0 auto;
    padding:0 5%;
    background: url(../img/bg.png) no-repeat center top $blue;
  }

  #logo{
    height: auto;
    padding: 12px 20px;
    img{
      height:auto;
    }
  }

  #main-content{
    .section.half{
      width:49.5%;
      margin-right:1%;
      &:nth-child(even){
        margin-right:0;
      }
    }
  }

  #news{
    width:63%;
    float:left;
    margin-right:1%;
  }

  #newsletter{
    width:36%;
    float:left;
    h3{
      padding: 0 1%;
    }
  }

  #newsletter + section{
    clear:both;
  } 

  #contact{
    overflow:hidden;
    a{
    display:block;
    float:left;
    text-decoration:none;
    color:#fff;
    width:33.333333%;
    text-align:center;
    padding:0.5em 0;
    font-size:0.8em;
  }
  }

  .totop{
    display:none !important;
  }

  #top-contact{
    display:block;
    font-size:0.8em;
    .icon{
      font-size:1.2em;
      position:relative;
      top:2px;
    }
  }
  #mobile-nav{
    display:none;
  }
  #mobile-submenu{
    display:block;
    h2{
      display:none;
    }
    #sub-grid{
      overflow:hidden;
      border-top:1px solid $gray;
      li{
        border:none;
        float:left;
        width:14.2857142857%;
        border-right:1px solid $gray;
        &:last-child{
          border-right:none;
        }
      }
    }
  }
  #search-form{
    display:block !important;
    clear: none;
    width:30%;
    margin-right: 20px;
    float:right;
    
    border:none;
    padding:1em 0;
    input[type="search"]{
      border:1px solid $gray;
      float:left;
      margin-top:0;
      padding-left:2%;
      padding-right:2%;
      width:70%;
    }
    input[type="submit"]{
      float:left;
      width:25%;
      border:none !important;
    }
  }

  #mobile-submenu #sub-grid{
    overflow: visible;
  }

  .sub{
    @include box-shadow(inset 0px 5px 5px rgba(50, 50, 50, 0.2));
    display: none;
    overflow: hidden;
    width: 100%;
    li{
        width: 25%;
        float: left;
        text-align: center;
       
        border-bottom: 1px solid $gray;
        border-right: 1px solid $gray;
        a{
           padding: 5% 15%;
          font-family: 'Gentium Basic';
          font-style: italic;
          font-size: 0.8em;
          text-decoration: none;
          color: $black;
          display: block;
        }
      }
    }
}

//small tablet (700px,43.75em)

@media all and (min-width: 43.75em){

  .breadcrumb{
    li{
      display:block !important;
      &:nth-last-child(2) a:before{
        content:"" !important;
      }
    }
  }

  #usp{
    .cont{
      width: 60% !important;
      background: none;
    }
  }
}




//quote.scss lesz belőle

#quote-form{
  margin: 20px auto;
  background: #eee;
  padding: 3%;
  width: 100%;
  label{
    
  }
  input[type="text"],input[type="tel"],input[type="email"],textarea{
    @include input;
    margin-top:0;
    margin-bottom:20px;
  }
  input[type="submit"]{
    @include purple-button;
  }
}









//hoverek

.no-touch{



  .breadcrumb a{
    @include t;
     &:hover,&:focus{
      background:#e6e6e6;
     }
  }

  #top-contact a{
    @include t;
     &:hover,&:focus{
      background:#e6e6e6;
     }
  }

  .sub li a{
    @include t;
    margin-top: 5px;
     &:hover,&:focus{
      background:#e6e6e6;
     }
  }

  #mobile-nav ul li a,#sub-grid li a{
    @include t;
     &:hover,&:focus{
      background:#e6e6e6;
     }
  }

  #contact a,.totop {
    @include t;
    &:hover,&:focus{
      background: #000;
    }
  }

  .close{
    @include t;
    &:hover,&:focus{
      color:$red !important;
    }
  }

  .slider a.offer{
    padding-bottom: 30px;
    @include t;
    &:hover,&:focus{
      @include grow;
    }
  }

   #main-content .section h2 a span{
    @include t;
   }
  #main-content .section h2 a:hover span{
          @include flip;
  }

  #quote-form input[type="submit"],#newsletter form input[type="submit"], #usp a,#card .cont a,#company .cont a,#search-form input[type="submit"]{
    &:hover,&:focus{
      @include purple-button-hover;
    }
  } 
  .getquote a{
    &:hover,&:focus{
      @include red-button-hover;
    }
  }
}