@import 'mixins.scss';

.stars{
  margin-left: 6px;
}

p.accommodation,p.price{
  margin-top:10px;
}

.sum{
  h2{
    border-bottom:none !important;
    text-align: center;
    font-size: 1.7em !important;
  }
  img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    width:100%;
  }
  p{
    @include gi;
    font-size: 1.25em;
    padding:1em;
  }
  div{
    overflow: hidden;
    padding:1em;
    width:100%;
  }
  .important{
    float: left;
    @include purple-button;
    font-size: 90%;
    width:49%;
    margin-right: 2%;
  }
  .quote{
    @include red-button;
    float:left;
    width:49%;
    font-size: 90%;
  }
}

.gallery{
  overflow: hidden;
  a{
    width: 30%;
    margin:1.66666666667%;
    float: left;
    text-decoration: none;
    text-align: center;
    color:$black;
    font-family: 'Gentium Basic';
  }
  img{
    display: block;
    max-width: 100%;
    margin: 0 auto 5px auto;
    @include box-shadow(0px 1px 5px rgba(50, 50, 50, 0.75));
  }
}


.route{
  img{
    display: block;
    max-width: 100%;
  }
}

.share{
  overflow: hidden;
  h2{
    float: left;
    width:auto !important;
    border-bottom: none !important;
  }
  div{
    float: right;
  }
  a{
    text-decoration: none;
    color:$black;
    font-size: 2em;
    img{
      width: 20px;
      margin-right: 5px;
      top: -0.2em;
      position: relative;
    }
  }
}

.block,.hotel{
  p,table{
    padding-left:5px;
  }
  margin-bottom: 20px;
  .extra{
    font-size: 1.2em;
    font-weight: 200;
  }
}

.day{
  overflow: hidden;
  padding:1em 0;
  
  p{
    padding-right: 1%;
  }
  a{
    padding-top: 15px;
    text-align: center;
    img{
      max-width: 100%;
      @include box-shadow(0px 1px 5px rgba(50, 50, 50, 0.75));

    }
    span{
      margin-top: 10px;
      display: block;
      float: none !important;
      font-family: 'Gentium Basic' !important;
    }
  }
}

#prices .cont,#hotelek .cont,#leiras .cont,#arak .cont{
  overflow:hidden;
}

#prices .getquote,#hotelek .getquote,#leiras .getquote,#arak .getquote{
  display:none;
}

#inline-nav{
  display:none;

  a{
    font-size:1.3em;
    display:block;
    color:$blue;
    line-height:1;
    padding:0 0.5em;
    margin-bottom:10px;
    word-wrap:break-word;
  }
}

.shares{
  text-align: center;
  display:none;
  font-family:'Source Sans Pro';
  font-weight:200;
  font-size:0.8em;
  line-height:1;
  text-align:center;
  padding-top:0.5em;
  span{
    display:block;
  }
  .icon{
    display:inline;
  }
  a{
    font-size:1.8em;
    text-decoration:none;
    color:$black;
      img{
        display:inline;
      width: 20px;
margin-right: 5px;
top: -0.2em;
position: relative;
    }
  }
}

#leiras .cont p{
  margin:1em 0;
}



//large tablet (1000px,62.5em)
@media all and (min-width: 59.375em), (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
 

 .cta{
    clear:both;
  }

  .halfer{
    width: 49.5%;
    float:left;
    margin-right:1%;
    &:nth-child(odd){
      margin-right:0;
    }
  }

 #main-content{
  width:74%;
  float:left;
 }

 #side-share{
  .shares{
    position:static;
    font-size:1.5em;
    float:none;
  }
 }

 #sidebar{
  display:block !important;
  width:25%;
  margin-left:1%;
  float:left;
  font-size:80%;
  .getquote{

    a{
      width:80%;
    }
    p{
      width:80%;
    }
    display:block !important;
  }
 }

 #main-footer{
  clear:both;
 }

.section{
  .cont{
    display:block;
  }
    &.halfer .cont{
    display:none;
  }
  &.halfer{
    h2 a span{
    display:block;
  }
}
  h2 a span{
    display:none;
  }
}

#prices .half,#hotelek .half,#leiras .half,#arak .half{
  width:45%;
  float:left;
  margin-right:10%;
  &:nth-child(even){
    margin-right:0;
  }
}
 
 .section.getquote{
  display:none;
 }

 #prices .getquote,#hotelek .getquote,#leiras .getquote,#arak .getquote{
  display:block;
  background:#e6e6e6;
  a{
    color:#fff !important;
  }
 }

 .lead{
  padding-top:0 !important;
 }
 .important{
  display:none;
 }


 .lead + div{
  display:none;
 }

 .sum .quote{
  display:none;
 }
 .shares,#inline-nav{
    display:block;
  }
  .section.share{
    display:none;
  }
}
//small tablet (700px,43.75em)

@media all and (min-width: 43.75em){
  .day{
    div{
      width: 70%;
      float: left;
   }
    a{
      float: left;
      width: 28%;
    }
  }
}



//hoverek

.no-touch .day a,.no-touch .gallery a{
  @include t;
  &:hover,&:focus{
    @include grow;
  }
}

.no-touch{

  .shares a{
    @include t;
    &:hover,&:focus{
      color:#000;
    }
  }

  .sum .quote{
    &:hover,&:focus{
      @include red-button-hover;
    }
  } 
  .sum .important{
    &:hover,&:focus{
      @include purple-button-hover;
    }
  }
}



/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('../img/fancybox_sprite.png');
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('../img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('../img/blank.gif'); /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
  overflow: hidden;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('../img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, .8);
}