.white-arrow {
  position: relative;
  background: #fff; }

.white-arrow:after, .white-arrow:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.white-arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.white-arrow:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #ccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

.purple-arrow {
  position: relative;
  background: 69297D;
  border: 1px solid #69297D; }

.purple-arrow:after, .purple-arrow:before {
  top: 99%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.purple-arrow:after {
  border-color: rgba(146, 151, 13, 0);
  border-top-color: 69297D;
  border-width: 10px;
  left: 50%;
  margin-left: -10px; }

.purple-arrow:before {
  border-color: rgba(105, 41, 125, 0);
  border-top-color: #69297D;
  border-width: 11px;
  left: 50%;
  margin-left: -11px; }

.sum h2 {
  border-bottom: none !important;
  text-align: center; }
.sum img {
  max-width: 100%;
  display: block;
  margin: 0 auto; }
.sum p {
  font-family: 'Gentium Basic';
  font-weight: normal;
  font-style: italic;
  font-size: 1.25em;
  padding: 1em; }
.sum div {
  overflow: hidden;
  padding: 1em; }
.sum .important {
  float: left;
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Source Sans Pro';
  font-style: italic;
  background: #bc193c;
  text-align: center;
  padding: 0.8em 1em;
  color: #fff;
  text-decoration: none;
  width: 45%;
  margin-right: 10%; }
.sum .quote {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Source Sans Pro';
  font-style: italic;
  background: #69297d;
  text-align: center;
  padding: 0.8em 1em;
  color: #fff;
  text-decoration: none;
  float: left;
  width: 45%; }

.gallery {
  overflow: hidden; }
  .gallery a {
    width: 30%;
    margin: 1.66666666667%;
    float: left;
    text-decoration: none;
    text-align: center;
    color: #333333;
    font-family: 'Gentium Basic'; }
  .gallery img {
    display: block;
    max-width: 100%;
    margin: 0 auto 5px auto;
    -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
    /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */ }

.share {
  overflow: hidden; }
  .share h2 {
    float: left;
    width: auto !important;
    border-bottom: none !important; }
  .share div {
    float: right; }
  .share a {
    text-decoration: none;
    color: #333333;
    font-size: 2em; }

.block {
  margin-bottom: 20px; }
  .block .extra {
    font-size: 1.2em;
    font-weight: 200; }

.day {
  overflow: hidden;
  padding: 1em 0; }
  .day div {
    width: 70%;
    float: left; }
  .day a {
    float: left;
    width: 28%;
    text-align: center; }
    .day a img {
      max-width: 100%;
      -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
      /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
      /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */ }

#prices .cont {
  overflow: hidden; }

#prices .getquote {
  display: none; }

#inline-nav {
  display: none;
  float: left;
  width: 20%; }
  #inline-nav a {
    display: block;
    color: #4897c8;
    line-height: 2; }

.shares {
  display: none;
  float: left;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 0.8em; }
  .shares span {
    display: block; }
  .shares .icon {
    display: inline; }
  .shares a {
    font-size: 1.8em;
    text-decoration: none;
    color: #333333; }

@media all and (min-width: 62.5em) {
  #prices .half {
    width: 45%;
    float: left;
    margin-right: 10%; }
    #prices .half:nth-child(even) {
      margin-right: 0; }

  .section.getquote {
    display: none; }

  #prices .getquote {
    display: block;
    background: #cccccc; }
    #prices .getquote a {
      color: #fff !important; }

  .lead {
    float: left;
    width: 80%; }

  .important {
    display: none; }

  .sum .quote {
    float: right; }

  .shares, #inline-nav {
    display: block; } }
@media all and (min-width: 37.5em) {
  #explore .t {
    display: block; } }
